<div  class="app-container">
    <div class="table-wrapper">
      <table class="table table-bordered">
        <tbody>
          <tr *ngFor="let item of foldersList">
            <td>
              - {{ item.name }}
            </td>
         
            <td>
              <a href="edit(item)">
                View Items
              </a>
            </td>
            <td>
                <a href="delete(item)">
                  Remove
                </a>
              </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="d-flex align-items-center mb-3" style="margin-top: 5vh;">
      <div class="form-group mr-3 mb-0">
        <input [(ngModel)]="folder.name" type="text" class="form-control" id="formGroupExampleInput"
          placeholder="New Folder" />
      </div>
      <button type="button" class="btn btn-primary mr-3" style="margin-left: 1vw;" [disabled]="folder.name =='' || !folder.name" (click)="add()">
        Add
      </button>
    </div>
  </div>