<div class="col d-flex justify-content-center" style="margin-top: 10vh;">
<div class="card w-75">
    <div class="card-body">

        <mat-tab-group>
            <mat-tab label="To-Do List">
                <div class="tab">
                    <app-todo-list></app-todo-list>
                 </div>
            </mat-tab>
            <mat-tab label="Folders">
                <div class="tab">
                    <app-folder-list></app-folder-list>
                </div>
            </mat-tab>
        </mat-tab-group>

    </div>
</div>
</div>

 