<div  class="app-container">
  <div class="table-wrapper">
    <table class="table table-bordered">
      <tbody>
        <tr *ngFor="let item of todoList">
          <td>
            <mat-checkbox [checked]="markChecked(item.completed)" color=warn></mat-checkbox>
          </td>
          <td>
            {{ item.name }}
          </td>
       
          <td>
            <a style="color: blue; text-decoration: underline; cursor: pointer;" (click)="edit(item)">
              Edit
            </a>
          </td>
          <td>
            <a style="color: blue; text-decoration: underline; cursor: pointer;" (click)="delete(item)">
              Remove
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="d-flex align-items-center mb-3" style="margin-top: 5vh;">
    <div class="form-group mr-3 mb-0">
      <input [(ngModel)]="todoItem.name" type="text" class="form-control" id="formGroupExampleInput"
        placeholder="New Task" />
    </div>
    <button type="button" class="btn btn-primary mr-3" style="margin-left: 1vw;" [disabled]="todoItem.name =='' || !todoItem.name" (click)="add()">
      Add
    </button>
  </div>
</div>